* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  background-image: url('https://source.unsplash.com/random');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4 ease;
}

.app.warm {
  background-image: url('images/bg2.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.search-box {

  
  width: 50%;
  margin: 0 0 75px;
  margin-top: 100px;
  
}

.search-box .search-bar {
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 30px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
 

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-origin: top left;
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.temp:hover{
  background-color: rgb(10, 10, 8);
  cursor: pointer;
  -webkit-transform: scale3d(5, 5, 5);
    transform: scale3d(5);
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.OtherInformations{
  text-align: center;
  color: rgb(241, 241, 241);
  font-size: 20px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  display: flex;
}
.TopHeading{
  text-align: center;
  color: rgb(238, 238, 238);
  font-size: 48px;
  font-weight: 700;
  background-image: url("images/bg1.jpg");
}
.Welcome{
  text-align: center;
  color: rgb(238, 238, 238);
  font-size: 48px;
  font-weight: 700;
  background-image: url("images/bg1.jpg");
}